SECRET_KEY_django=****

DEBUG=****

POSTGRES_NAME=****
POSTGRES_USER=****
POSTGRES_PASSWORD=****
POSTGRES_HOST=****
POSTGRES_PORT=****

REDIS_HOST=****

HabitTrackerRybM_bot=***** #тут должен быть токен бота, который вы получили у @BotFather

CHAT_ID=****
